@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary: #111;
  /* --color-secondary: #7008e7; */
  --color-offWhite: #f1f1f1;
  --color-socialLink: #94979d;
  /* --color-yellow: #f8c000; */
  /* --color-purple: #642da9; */
  --color-black: #000;
  /* --color-rawBlack: #333; */
}

.buttonStyle {
  @apply px-6 py-2 text-base font-medium leading-6 rounded transition-all duration-200 cursor-pointer;
}

.anchorHover {
  @apply relative after:content-[''] after:absolute after:left-0 after:top-1/2 after:w-full after:h-[4px] after:bg-violet-400 after:-translate-y-1/2 after:mt-2 after:-z-10 after:opacity-0 after:transition-all after:duration-300 hover:after:opacity-100;
}

.socialMedia {
  @apply w-12.5 h-12.5 rounded-full  border-2 border-socialLink text-socialLink flex justify-center items-center hover:border-violet-600 hover:text-violet-600 transition-all duration-200 cursor-pointer;
}

.contactMedia {
  @apply w-12.5 h-12.5 rounded-full  border-2 border-black text-black bg-violet-500 flex justify-center items-center transition-all duration-200 cursor-pointer;
}

.linkStyle {
  @apply block p-6 bg-violet-500 rounded shadow transition w-full;
}

.para {
  @apply mt-8 mb-16 text-center font-bold  text-lg leading-7;
}

.inputStyle {
  @apply border-2 border-violet-500 rounded p-2 w-full  text-white;
}

.bannerPara {
  width: 290px;
}

@media (min-width: 440px) {
  .bannerPara {
    width: 420px;
  }
}

/* using for responsive */

/* Mobile & all devices */
.resTopBottomPadding {
  padding-top: 45px;
  padding-bottom: 45px;
}

/* sm and above cause it overrides to resTopBottomPadding  */
@media (min-width: 640px) {
  .topBottomPadding {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
